<% for(let post of posts) { %>
    <article class="grid-wrapper">
        <h1><%=post.username  %>'s page</h1>
        <h2><a href="/posts/<%= post.pid %>"><%= post.content %></a></h2>
        <img src="<%= post.image_url %>" alt="">
        <p>Comment:</p>
        <p><%= post.comment %></p>
        <form action="/posts/<%= post.pid %>/like" method="post" class="postbutton-wrapper">
            <input type="hidden" name="_method" value="put">
            <button class="likes"><i class="fa-solid fa-thumbs-up"></i>&nbsp;<span><%= post.likes%></span></button>
        </form>
        <form action="/posts/<%= post.pid %>/dislike" method="post" class="postbutton-wrapper">
            <input type="hidden" name="_method" value="put">
            <button class="likes"><i class="fa-solid fa-thumbs-down"></i>&nbsp;<span><%= post.dislikes%></span></button>
        </form>
        <form action="/posts/<%= post.pid %>/comment" method="post" class="postbutton-wrapper">
            <input type="hidden" name="_method" value="put">
            <input type="text" class="comment" name="comment" placeholder="Write a comment......">
            <button class="likes">comment</button>
        </form>
    </article>
<% } %>